@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,700,900&display=swap');
img {
    max-width: 100%;
    height: auto;
    /*	display:block;*/
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
::-moz-selection {
    background: #02b7ff;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #02b7ff;
    color: #fff;
    text-shadow: none;
}
.clear {
    clear: both;
    color: #fff;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    animation: fadeIn 2s;
}
.animatable {
    /* initially hide animatable objects */
    visibility: hidden;
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
/* show objects being animated */
.animated {
    visibility: visible;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -ms-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}
.animated:nth-child(1n) {
    animation-delay: .0s;
}
.animated:nth-child(2n) {
    animation-delay: .08s;
}
.animated:nth-child(3n) {
    animation-delay: .1s;
}
.animated:nth-child(4n) {
    animation-delay: .2s;
}
/* p {
    animation: fadeIn .9s;
} */
#preloader {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 99999999999999999999999999999;
}
#preloader img {
    width: 150px;
}
.PadB-0 {
    padding-bottom: 0 !important;
}
.MarT-2 {
    margin-top: 2% !important;
    padding: 0 !important;
}
.MarT-5 {
    margin-top: 5% !important;
}
/*************************************************
******** ***  ** COMMON STYLES** *** *************
**************************************************/
body {
    color: #000;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
.header {
    width: 96%;
    padding: 0 2%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.3215686274509804) !important;
    top: 0;
    z-index: 99999;
    transition: all 0.4s ease-in-out;
    background: none;
    transition: all .3s;
    background-color: rgba(255, 255, 255, 0.0);
    box-sizing: content-box;
    /*background: rgba(255,255,255,0.1);*/
}
.HeaderInner {
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
}
.logo {
    display: block;
    width: 175px;
    transition: all .3s;
    float: left;
    padding: 15px 0;
    position: relative;
    z-index: 100;
}
.logo a {
    display: block;
}
.FixedHeader {
    background-color: #000 !important;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
    -moz-box-shadow: rgba(126, 126, 126, 0.25) 0px 4px 10px;
}
.InnerHeader{
    background-color: #000 !important;
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
}


.FixedHeader .logo {
    width: 155px;
    padding: 18px 0 18px;
}
.FixedHeader .menu-right {
    margin-top: 28px;
}
.FixedHeader .menu-right a {
    color: #333;
}
.FixedHeader .menu-right .menu ul  .special-menu-item {
    color: #fff !important;
    
}
.inner-header {
    background-color: #fff;
    transition: all .3s;
    box-shadow: rgba(126, 126, 126, 0.25) 0px 4px 10px;
    -webkit-box-shadow: rgba(126, 126, 126, 0.25) 0px 4px 10px;
    -moz-box-shadow: rgba(126, 126, 126, 0.25) 0px 4px 10px;
}
.inner-header .logo {
    width: 110px;
    padding: 8px 0 5px;
}
.inner-header .menu-right {
    margin-top: 18px;
}
.inner-header .menu-right a {
    color: #333;
}
.inner-header .menu ul  .special-menu-item a {
    border: 1px solid #3a3a3a !important;
}
.nav-top {
    top: 0;
}
.top-up {
    top: -2.5em;
}
.nav-up {
    top: -115px;
}
.menu-right {
    float: right;
    margin: 28px 0 0;
    transition: all .3s;
    position: relative;
    z-index: 99;
}
.menu {
    width: 100%;
    margin: 0 0 0;
}
.menu ul {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.menu ul li {
    text-align: center;
    float: left;
    width: auto;
    position: relative;
    overflow: visible;
}
.submenu ul li {
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: visible;
    display: block;
}
.menu ul li a {
    padding: 12px 14px;
    color: #333;
    margin: 0 4px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    /*text-shadow: 1px -1px 1px #000;*/
    opacity: 1;
    cursor: pointer;
    transition-duration: .5s;
    border-bottom: 2px solid transparent;
}
.special-menu-item{
}


.menu ul  .special-menu-item a {
    background: transparent;
    border-radius: 50px;
    padding: 5px 25px !important;
    border: 1px solid #ff3122 !important;
    background: transparent;
    color: #ff3122 !important;
}
.menu ul  .special-menu-item:last-of-type a {
    background: transparent;
    border-radius: 50px;
    padding: 5px 25px !important;
    border: 1px solid #ff3122 !important;
    background: #ff3122 !important;
    color: #fff !important;
}
.menu ul  .special-menu-item a:hover {
    background: rgba(255, 255, 255, 0.07) !important;
}
.menu_icon {
    display: none;
    float: left;
    height: 32px;
    width: 32px;
    margin: 16px 0 16px;
    position: relative;
    z-index: 99999;
    cursor: pointer;
}

.submenu ul li:nth-last-of-type(2){
    display: block !important;
}
@media screen and (max-width: 980px) {
    /* insert styles here */
    .menu_icon {
        display: block;
    }
    .menu-right {
        left: 0;
        position: fixed;
        height: calc(100vh - 60px);
        background-color: #fff;
        transform: translateX(-210px);
        top: 65px;
        width: 200px !important;
        z-index: 999;
        margin-top: 0;
        transition-duration: .5s;
        overflow: scroll;
        box-shadow: -1px 2px 5px rgba(0, 0, 0, .1);
    }



    .menu-slide {
        display: block;
        transform: translateX(0px);
    }
    .menu {
        width: 100%;
        margin: 0;
    
    }
    .menu {
        margin-bottom: 25px;
    }
    .menu ul li {
        text-align: center !important;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    .menu ul li a {
        width: 100%;
        color: #848484;
        display: block;
        text-align: left;
        padding: 10px 0px 10px 35px !important;
        text-shadow: none;
        transition-duration: .3s;
        background-color: #fff;
        margin: 0;
        font-size: 16px;
        box-sizing: border-box;
    }
    .menu ul li a:hover {
        color: #3a3a3a;
        border-bottom: 2px solid #fff;
    }
    .submenu {
        position: relative !important;
        top: 15px !important;
        left: 0 !important;
        display: none;
        width: 100% !important;
        background-image: url(../images/submenu-bg.jpg) !important;
        background-size: cover;
    }
    .submenu ul li a {
        text-align: left !important;
        width: 100% !important;
        color: #6f6f6f !important;
        padding: 10px 0px 10px 10px !important;
        background: rgba(210, 210, 213, 0.5) !important;
        font-size: 12px !important;
    }
    .submenu-slide {
        transform: translatey(0);
        opacity: 1 !important;
        visibility: visible !important;
        display: block;
    }
    .menu_expand {
        width: 30px;
        position: absolute;
        display: block;
        cursor: pointer;
        height: 46px;
        z-index: 999;
        font-size: 8px !important;
        left: 0;
    }
    .menu_expand:after {
        top: 10px;
        position: relative;
        font-weight: lighter !important;
        padding: 2px;
        content: '+';
        color: #1f1e1e;
        font-size: 20px;
        font-weight: lighter !important;
        height: 3px;
    }
    .active-menu a {
        background-color: #ff3122 !important;
        border-left: 5px solid #1A7CBF;
        color: #fff !important;
    }
    .menu ul p {
        text-align: center;
        background: #ececec;
    }
    .menu ul .special-menu-item a {
        background: transparent;
        border-radius: 33px;
        padding: 5px 25px !important;
        border: 1px solid #ff3122 !important;
        background: #ff3122;
        text-align: center !important;
        color: #000!important;
        width: 139px !important;
        margin: 7px auto !important;
        color: #fff !important;
        }
}
@media screen and (min-width: 980px) {
    .menu ul li a {
        /*text-shadow: 1px -1px 1px #000;*/
        color: #fff;
        transition: all .3s;
    }
    .menu ul li a:hover {
        /*text-shadow: 1px -1px 1px #000;*/
        color: #0e3040;
        transition: all .3s;
        background: rgba(255, 255, 255, 0.07);
    }
    .active-menu a {
        color: #393939 !important;
        /*! font-weight: 500 !important; */
    }
    .submenu ul li a {
        text-align: left !important;
        width: 100%;
        padding: 10px 10px 10px 20px !important;
    }
    .submenu-btn:hover .submenu {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
        top: 50px;
    }
    .FixedHeader .submenu-btn:hover .submenu {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
        top: 54px;
    }
    .inner-header .submenu-btn:hover .submenu {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
        top: 54px;
    }
    .menu_expand {
        display: none;
    }
    .submenu {
        min-width: 200px;
    }
    .LgSubMenu {
        min-width: 525px;
        display: flex;
        flex-flow: row wrap;
        left: 3px !important;
    }
    .LgSubMenu p {
        min-width: 250px;
        padding: 10px 0;
        text-align: left;
        padding-left: 20px;
        color: #ff3122 !important;
        font-size: 18px;
        font-weight: 500;
        /* border-bottom: 2px solid #ff3122; */
        box-sizing: border-box;
        line-height: 27px !important;
    }
    .LgSubMenu ul {
        max-width: 175px;
        min-width: 175px;
        box-sizing: border-box;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0;
    }
}
.submenu {
    position: absolute;
    background: #fff;
    width: 100%;
    height: auto;
    top: 60px;
    left: 0;
    overflow: visible;
    background-size: cover;
    text-align: right !important;
    box-sizing: border-box;
    padding-bottom: 0;
    transform: translatey(-15px);
    opacity: 0;
    transition: all .3s;
    z-index: 9999;
    visibility: hidden;
    box-shadow: #42414124 0 4px 11px;
    -webkit-box-shadow: #42414124 0 4px 11px;
    -moz-box-shadow: #42414124 0 4px 11px;
}
.submenu ul li a {
    margin: 0 auto;
    display: block;
    font-size: 15px !important;
    background: #fff;
    text-align: left;
    border-bottom: 1px solid rgba(219, 219, 219, 0.1);
    box-sizing: border-box;
    transition: all .3s;
    font-size: 16px !important;
    color: #333 !important;
    line-height: 30px !important;
}
.Header_fixed .submenu ul li a {
    color: #393939 !important;
    text-shadow: 0px -0px 0px #000 !important;
}
.submenu ul li a:hover {
    background: #F2F4F6;
}
.active-menu .submenu ul li a {
    color: #393939 !important;
}
/* MENU ENDS */
footer {
    width: 100%;
    padding: 5% 5%;
    box-sizing: border-box;
    background: #1E4A61;
}
footer {
    width: 100%;
    padding: 5% 5% 0;
    box-sizing: border-box;
    background: #181b1d;
}
.InnerFooter {
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.InnerFooter p,
.InnerFooter a {
    color: #5e5e5e;
    font-size: 1vmax;
    display: block;
    line-height: 1.5vmax;
}
.InnerFooter a {
    cursor: pointer;
    transition: all .3s;
}
.InnerFooter a i{
  font-size: 18px;
  width: 20px;
  color: #ff3122;
}
.InnerFooter a:hover {
    cursor: pointer;
    transition: all .3s;
    color: #fff;
}
.FooterHeads {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    height: 50px;
    margin-bottom: 25px;
}
.FooterHeads img {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}
.FooterHeads h4 {
    text-align: left;
    display: inline-block;
    color: #ffffff;
    font-size: 1.1vmax;
    line-height: 1vmax;
    text-transform: uppercase;
}
/* .FooterHeads h4 span {
    color: #6EAAC9;
} */
.CarWebInfo {
    width: 25%;
}
.QuickLinks {
    width: 15%;
}
.MobileAppLinks {
    width: auto;
}
.CreativeDesignLinks {
    width: 25%;
    width: auto;
}
.end-footer {
    width: 100%;
    text-align: left;
    /* max-width: 1300px; */
    border-top: 1px solid #000000;
    padding: 1% 0;
    margin: 3% auto 0;
}
.end-footer p {
    display: inline-block;
    color: #fff !important;
}
.end-footer a {
    float: right;
    width: auto;
    /* display: inline-block; */
}
.Banner {
    background: #02b7ff;
    background-size: cover;
    background-position: center;
}
.WavyBanner {
    /* background: #02b7ff; */
    background-size: cover;
    background-position: center;
    width: 100%;
}
.AnimatedBanner {
    width: 70%;
    position: absolute;
    right: 0
}
/* BANNER */
.BannerTitles {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10% 0 4%;
    background-image: url(../images/BannerOverlay.png);
}
.BannerTitles h2 {
    font-size: 6vmax;
    position: relative;
    line-height: 6vmax;
}
.BannerTitles h4 {
    font-size: 2.5vmax;
    position: relative;
    line-height: 2vmax;
    font-weight: lighter;
    padding-top: 25px;
}
.AnimatedBannerTitles {
    width: 90%;
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10% 0 0%;
}
.AnimatedBannerTitles h2 {
    font-size: 6vmax;
    position: relative;
    line-height: 6vmax;
    color: #ff3122;
    font-weight: 600;
}
.AnimatedBannerTitles h2 span {
    font-weight: 200;
    color: #607D8B;
    /* background: rgba(255, 255, 255, 0.30);
    padding: 3% 6%;
    border-radius: 260px; */
}
.AnimatedBannerTitles h4 {
    font-size: 2.5vmax;
    position: relative;
    padding-top: 25px;
    line-height: 2vmax;}
  

.AnimatedBannerTitles P {
    font-size: 17PX;
    line-height: 24px;
    font-weight: lighter;
    padding: 25px;
    box-sizing: border-box;
    padding-bottom: 25px;
    margin: 5% auto;
}

.DarkMenu * {
    color: #fff !important;
}
/*************************************************
******** ***   COMMON STYLES ENDS    *** *********
**************************************************/
/*========================= 01  HOME CSS STARTS HERE  *============= */
.SliderMainContainer {
    width: 100%;
    height: 40vh;
    min-height: 500px;
}
#slides {
    position: relative;
}
#slides ul li img {
    object-fit: contain !important;
    position: relative !important;
    width: 40% !important;
    right: 10% !important;
    /* top: 72px !important; */
    /* bottom: 5% !important; */
    margin-top: 90px;
    /* float: right; */
    left: auto !important;
    position: absolute !important;
}
.LgSliderImage img{
width: 38% !important;

}
#slides .slides-container {
    display: none;
}
#slides .slides-container li {
    background: #000000 url(../images/bg.png);
    background-size: cover;
    background-position: bottom;
    /* display: flex !important; */
    /* flex-flow: row wrap; */
}
.SliderTexts {
    position: relative;
    top: 40%;
    padding-left: 73px;
    float: left;
    height: 10%;
}
.SliderTexts h1 {
    font-size: 2vmax;
    color: #fff;
    line-height: 2vmax;
}
.sliderBtn {
    display: inline-block;
    margin: 0 0;
    padding: .6vmax 2vmax;
    border-radius: 50px;
    font-size: 1vmax;
    margin-top: 1.8vmax;
    transition: all .3s;
    background: linear-gradient(138deg, rgb(255, 0, 0) 6%, rgb(255, 91, 28) 89%);
    color: #fff !important;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.28) 0 8px 15px;
}
.sliderBtn:hover {
    transition: all .3s;
    opacity: 0.5;
}
#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 155px;
    width: auto;
    right: 0;
}
.slides-navigation a {
    position: relative;
    background: #212020;
    padding: 17px 25px;
    display: block;
    width: 36px;
    font-size: 22px;
    line-height: 22px;
    padding: 10px 25px;
    text-align: center;
    height: 36px;
    box-sizing: border-box;
    transition: all .3s;
    color: #ffffff;
    padding: 7px 2%;
}
.slides-navigation a:hover {
    transition: all .3s;
    color: #FFF;
    opacity: 0.6 !important;
}
.slides-navigation a:active,
.slides-navigation a:focus {
    color: #FFF;
}
.slides-navigation a.prev {
    left: 0;
    margin-bottom: 5px;
}
.slides-navigation a.next {
    right: 0;
    /* padding: 17px 2%; */
}
.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: left;
    width: auto;
    left: 42px;
    bottom: 0;
    /* background: #151515; */
    padding: 17px 2%;
}
.slides-pagination a {
    border: 2px solid #e6dede;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 4px;
    overflow: hidden;
    text-indent: -100%;
}
.slides-pagination a.current {
    background: #ff3122;
    border: 2px solid #ff3122;
}

.Bottom{
    width: 100%;
    padding: 0% 0 5%;
    background: #000000;
}


.WhyChooseUs {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 3%;
    max-width: initial;
    justify-content: space-between;
}
.WhychooseUsHead {
    width: 30%;
    /* background: url(../images/headbg01.png); */
    background-size: cover;
    padding: 5% 0;
}
.WhychooseUsHead h2 {
    font-size: 2.5vmax;
    line-height: 2.5vmax;
    color: #ff3122;
    font-weight: 900;
    text-transform: uppercase;
}
.WhychooseUsHead h2 span {
    color: #fff;
    display: block;
}
.WhyChooseUsDetails {
    width: 60%;
    padding: 5% 0;
}
.WhyChooseUsDetails p {
    font-size: 1.5vmax;
    line-height: 1.5vmax;
    color: #ffffff;
    margin-top: 1.2vmax;
}
.CarsLisitng {
    width: 92%;
    /* max-width: 1300px; */
    margin: 0 auto 0;
    position: relative;
    /* background: red; */
    /* padding-bottom: 5%; */
}
.CarsLisitng:after {
    height: 100%;
    width: 150px;
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(12, 12, 12, 0) 25%, rgb(0, 0, 0) 100%);
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    z-index: 9999;
}
.CarsLisitng:before {
    height: 100%;
    width: 120px;
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(-90deg, rgba(12, 12, 12, 0) 25%, rgb(0, 0, 0) 100%);
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    z-index: 9999;
}
#Cars .owl-stage {
    padding-left: 20px !important;
}
.CarsItem {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    overflow: hidden;
}
.CarsImage {
    width: 50%;
    height: 180px;
    display: block;
    position: relative;
    background: Red;
    
}
.CarsImage img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.CarsDetails {
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: 29px;
    background: #131313;
}
.CarsDetails h2 {
    font-size: 1.3vmax;
    line-height: 1.5vmax;
    color: #ffffff;
    position: relative;
    padding-bottom: 15px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.CarsDetails h2:after {
    height: 5px;
    width: 100px;
    content: '';
    background: #383636;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.CarsDetails p {
    font-size: 0.9vmax;
    line-height: 0.9vmax;
    color: #939494;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.ContentArea{
    width: 100%;
    width: calc(100% - 275px);
    margin: 0;
    margin-left: 275px;
    background: #0c0c0c;
}

.SidebarAndCars{
    width: 100%;
    margin: 0 auto;
    background-color: #0c0c0c;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.SideBar{
    width: 275px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, .1) 1px 2px 3px;
    margin: 0 0;
    position: fixed !important;
    height: 100vh;
    background: #151515;
    padding-bottom: 40px;
    padding-top: 81px;
    box-sizing: border-box;
}
.StickySidebar{
   
display: block;
   
width: 100%;
   
left: 0;
   
max-height: calc(100vh - 64px) !important;
   
top: 80px;
   
/* flex-shrink: 14; */
   
position: absolute !important;
   
height: calc(100% - 64px) !important;
}
.FiltersHead {
    padding: 19px;
    border-bottom: 1px solid #040404;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    position: sticky;
    top: 0;
    border-top: 1px solid #040404;
}
.FiltersHead h2{
  font-size: 22px;
  display: inline-block;
  margin: auto 0;
  color: #fff;
}
.ResetBtn{
    background-color: #232323;
    border: none;
    color: #929292;
    outline: none;
    padding: 10px 19px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 37px;
}
.accordion {
    width: 100%;
    max-width: 100%;
    /* background: #FFF; */
    height: auto;
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #585858;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #191919;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: uppercase;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li .link i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #8e8e8e;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-right {
    right: 12px;
    left: auto;
    font-size: 16px;
    color: #333333;
  }
  
  .accordion li.open .link {color: #ffffff;}
  
  .accordion li.open i {/* color: #ff0000; */}
  
  .accordion li.open i.fa-chevron-right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  /**
   * Submenu
   -----------------------------*/
  
  
  .AccordionContent {
    background: #1d1d1d;
    font-size: 14px;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: all .3s;
    display: block;
    height: 100%;
  }
  .Opened{
    left: 0%;
    transition: all .3s;
  }
  .ScrollContents{
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
  }

  .ActiveFilterHead{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 11px 10px 5px;
      box-sizing: border-box;
      justify-content: space-between;
      position: sticky;
      top: 0;
      left: 0;
      background: #1d1d1d;
      z-index: 99999;
  }
  .CloseFilter{
      width: 42px;
      display: block;
      color: #fff;
      height: 42px;
      padding: 12px 11px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 19px;
  }
  .ActiveFilterHead h2{margin: auto 0;color: #fff;width: calc(100% - 47px);text-align: center; padding-right: 30px; box-sizing: border-box;}
  .SearchValues{
      width: 90%;
      padding: 10px;
      display: block;
      box-sizing: border-box;
      margin: 8px auto 5px;
      border-radius: 50px;
      border:1px solid #c2c2c2;
      outline: none !important;
      font-size: 16px;
      padding-left: 20px;
      background: transparent;
      color: #fff;
  }
  
  .SearchValues:focus{
   
    border:1px solid #ff4646;
}
.SelectFlex{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 18px;
    /* padding-bottom: 20px; */
}
.SelectFlex select{
    width: 100%;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    border-radius: 50px;
    border:1px solid #c2c2c2;
    outline: none !important;
    font-size: 16px;
    background: transparent;
    color: #fff;
    }
    .SelectFlex select option{
        background: #000;
        outline: none;
        padding: 10px 0;
    }
    .SelectFlex select:focus{
    border:1px solid #ff4646;
}
.Year.SelectFlex select{
    width: 48%;
}



.InputFlex{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 11px 18px;
}
 .InputFlex input{
    width: 100%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    border-radius: 50px;
    border:1px solid #c2c2c2;
    outline: none !important;
    font-size: 16px;
    background: transparent;
    color: #fff;
    }
    .InputFlex input:focus{
    border:1px solid #ff4646;
}
.Price.InputFlex input{
    width: 48%;
}
  

.AccordionContent ul{
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    margin-top: 15px;
}
  .AccordionContent ul li {border-bottom: 1px solid rgba(255, 255, 255, 0.11);}
  
  .AccordionContent label {
    display: block;
    text-decoration: none;
    color: #c1c1c1;
    padding: 9px;
    padding-left: 20px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .AccordionContent a:hover {
    background: #000000;
    color: #FFF;
  }

  .pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: 11px;
    top: 2px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 21px;
    width: 8px;
    height: 3px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 255, 49, 34));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 255, 49, 34));
    background-color: rgb(var(--pure-material-primary-rgb, 255, 49, 34));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 255, 49, 34));
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 255, 255, 255), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

.SearchBtn{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block;
    padding:18px 10px 10px;
    text-align: center;
    box-sizing: border-box;
    background:var(--GRADIENT);
    border:none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    box-shadow: rgb(255, 0, 0,0.7) 1px 5px 10px;
    transition: all .3s;
    outline: none;
}
.SearchBtn:hover{
    background-color: #970f05;
}





.CarsLisitingAndPagination{
    width: 100%;
}
.CarsLisitingAndPagination .CarList{
    width: 100%;
    margin: 50px auto 50px;
    box-sizing: border-box;
    padding: 0 50px;
}
.CarsLisitingAndPagination .CarList ul{
    width: 100%;
    display:  flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.CarsLisitingAndPagination .CarList :after {
    content: "";
    flex: auto;
}
.CarsLisitingAndPagination .CarList ul li {
    width: calc(25% - 15px);
    margin-bottom: 20px;
    /* padding-bottom: 10px; */
    margin-right: 15px;
}
.CarsLisitingAndPagination .CarList ul li:nth-child(4n) {
  
    margin-right: 0px;
}
.CarsLisitingAndPagination .CarList ul li .Box{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 100%;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .1) 1px 2px 3px;
    background-color: #333333;
    position: relative;
    padding-bottom: 13px;
}

.CarsLisitingAndPagination .CarList ul li .CarImage{
    width: 100%;
}






.CarsLisitingAndPagination .CarList ul li .CarDetails{
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 0;
    }
.CarsLisitingAndPagination .CarList ul li .CarDetails h2{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px rgba(0, 0, 0, .1) solid;
}

    
.CarsLisitingAndPagination .CarList ul li .CarDetails  .MoreDetails{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;
    }
    .CarsLisitingAndPagination .CarList ul li .CarDetails .MoreDetails p{
        width: 60%;
        font-size: 15px;
        color: #d0d0d0;
    }
    .CarsLisitingAndPagination .CarList ul li .CarDetails .MoreDetails p:nth-child(2n){
        width: 39%;
    }
    .CarsLisitingAndPagination .CarList ul li  .CarDetails .MoreDetails p span{
        width: 35%;
        font-size: 15px;
        color: #fdfdfd;
        padding-left: 5px;
    }
    
    
  

    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 13px;
        padding-top: 9px;
        border-top: 1px rgba(255, 255, 255, 0.1) solid;
    }

    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .CarPrice{
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 7px;
    }
    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .CarPrice i{
        color: #dcdcdc;
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
    }
    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .Buttons{
width: auto;
display: flex;

    }
    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .Buttons .ViewDetBtn{
        width: 125px;
        display: block;
        padding:12px 10px 10px;
        text-align: center;
        box-sizing: border-box;
        border: #fff 1px solid;
        color: #fff;
        font-size: 16px;
        margin-right: 10px;
        border-radius: 30px;
        line-height: 16px;
        cursor: pointer;
        transition: all .3s;
        }
            .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .Buttons .ViewDetBtn:hover{
              
background-color: #e9e9e9;
              
color: #000;
            }
            

            .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .Buttons .OrderBtn{
                width: 110px;
                display: block;
                padding:12px 10px 10px;
                text-align: center;
                box-sizing: border-box;
                background-color: #ff3122;
                color: #fff;
                font-size: 16px;
                line-height: 16px;
                border-radius: 30px;
                cursor: pointer;
                box-shadow: rgb(255, 0, 0,0.7) 1px 5px 10px;
                transition: all .3s;
                }
                    .CarsLisitingAndPagination .CarList ul li .CarDetails .PriceAndButton .Buttons .OrderBtn:hover{
              
                      box-shadow: rgb(255, 0, 0,0.0) 0px 0px 0px;
                      transition: all .3s;
                    }
                    








                    /* VIew Page  */

                    .ProductDetailPage {
                        position: relative;
                        padding-top: 80px;
                   }


                   
                   .ProductDetailPage, .ProductDetailPage *  {
                    box-sizing: border-box;
               }
                    .ProductDetailPage .DetailsTitleBar {
                        width: 100%;
                        padding: 15px 5%;
                        position: sticky;
                        left: 0;
                        top: 80px;
                        z-index: 999;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel {
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 24px;
                        text-transform: uppercase;
                        text-align: left;
                        display: flex;
                        flex-flow: row wrap;
                        width: auto;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .BackToBtn {
                        margin: auto 0;
                        background: none;
                        font-size: 20px;
                        border: none;
                        cursor: pointer;
                        padding: 10px 10px;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .Brand {
                        width: 55px;
                        height: 55px;
                        border-radius: 50px;
                        margin: auto 0;
                        margin-left: 10px;
                        overflow: hidden;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .Brand img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .Model {
                        margin: auto 0;
                        margin-left: 15px;
                        display: flex;
                        flex-flow: row wrap;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .Model span {
                        margin-right: 10px;
                        border-right: 4px solid;
                        padding-right: 10px;
                   }
                    .ProductDetailPage .DetailsTitleBar .BrandAndModel .Model span:last-of-type {
                        border: none;
                   }
                   
                .PriceAndBook {
                    width: auto;
                    margin-top: 105px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    margin: auto 0;
               }
               
    
           .PriceAndBook .ActualPriceArea {
                    display: flex;
                    width: auto;
                    flex-flow: row wrap;
                    margin-right: 20px;
               }
         .PriceAndBook .ActualPriceArea .PriceDetails {
                    display: block;
                    width: auto;
                    line-height: 17px;
                    margin: auto;
               }
           
             .PriceAndBook .ActualPriceArea .PriceDetails .Label {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: lighter;
                    line-height: 1.35;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 12px;
               }
               .PriceAndBook .ActualPriceArea .Price {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: normal;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 12px;
                    border-left: 1px solid;
                    margin: auto;
                    margin-left: 20px;
               }
            .PriceAndBook .ActualPriceArea .Price .IfNeg{
                display: inline-block;
                font-size: 13px;
                font-weight: lighter;
                font-style: italic;
           }
          .PriceAndBook .BtnsArea {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
               }
               .PriceAndBook .BtnsArea .BookBtn {
                    display: block;
                    width: 160px;
                    text-align: center;
                    padding:15px 10px 12px;
                    text-align: center;
                    box-sizing: border-box;
                    border:none;
                    font-size: 16px;
                    line-height: 16px;
                    cursor: pointer;
                    transition: all .3s;
                    outline: none;
                    border-radius: 120px;
                    margin: auto 0;
                    transition: all .3s;
                   
               }
                .PriceAndBook .BtnsArea .BookBtn .Icon{
                padding-left: 10px;
                transition: all .3s;
               
           }
        
        
    .PriceAndBook .BtnsArea .BookBtn:hover .Icon{
            padding-left: 5px;
            transition: all .3s;
              
          }
      

                    .ProductDetailPage .ViewDetailsAndImages {
                        width: 100%;
                        padding: 70px 5%;
                        display: flex;
                        justify-content: space-between;
                        flex-flow: row wrap;
                        margin: 0 auto;
                      
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails {
                        width: 49%;
                        max-width: 550px;
                   }
                   .ProductDetailPage .ViewDetailsAndImages .ViewDetails h1{
                    width: 100%;
                    text-align: left;
                    font: 25px;
                    padding-bottom: 15px;
               }
    
                   .ProductDetailPage .ViewDetailsAndImages .ViewDetails  .CarDetailsScroll{
                       
                       overflow: hidden;
    
                }


                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap {
                        margin-top: 20px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        margin-bottom: 16px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap .MileageBlock {
                        width: calc(50% - 6px);
                        display: flex;
                        height: 110px;
                        text-align: center;
                        border-radius: 5px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap .MileageBlock span {
                        margin: auto 0;
                        display: block;
                        width: 100%;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap .PriceBlock {
                        width: 48%;
                        display: flex;
                        height: 110px;
                        text-align: center;
                        border-radius: 5px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap .PriceBlock span {
                        margin: auto 0;
                        display: block;
                        width: 100%;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap h3 {
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 30px;
                        padding-top: 5px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .PriceAndMileageWrap h5 {
                        font-size: 18px;
                        font-weight: normal;
                        line-height: 20px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .CarMainDetailsWrap {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .CarMainDetailsWrap .DetailBlock {
                        width: calc(33.33% - 10px);
                        display: flex;
                        height: 80px;
                        text-align: center;
                        border-radius: 5px;
                        margin-bottom: 16px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .CarMainDetailsWrap .DetailBlock span {
                        margin: auto 0;
                        display: block;
                        width: 100%;
                   }
               
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .CarMainDetailsWrap p {
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 30px;
                   }
                    .ProductDetailPage .ViewDetailsAndImages .ViewDetails .ViewDetailsWrap .CarMainDetailsWrap h3 {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                   }

                 

                   .GuaranteeBlock{
                       width: 100%;
                        display: flex;
                        text-align: left;
                        border-radius: 5px;
                        flex-flow: wrap;
                        margin-top: 25px;
                        padding: 20px;
                        
                   }

     .ProductDetailPage .ViewDetailsAndImages .ViewDetails .GuaranteeBlock  .Icon {
                    font-size: 25px;
                    font-weight: normal;
                    line-height: 30px;
                    /* padding-bottom: 15px; */
                    width: 40px;
                    height: 40px;
                    border-radius: 41px;
                    text-align: center;
                    padding: 6px 0;
                    margin-bottom: 15px;
               }
               .ProductDetailPage .ViewDetailsAndImages .ViewDetails .GuaranteeBlock  h3 {
                font-size: 18px;
                font-weight: bold;
                line-height: 20px;
                margin: auto 0 auto 15px;
                padding-bottom: 15px;
           
           }
                   .ProductDetailPage .ViewDetailsAndImages .ViewDetails .GuaranteeBlock  p {
                    font-size: 14px;
                    font-weight: lighter;
                    line-height: 18px;
               }
           
               
                   
                    .ProductDetailPage .ViewDetailsAndImages .ViewImages {
                        width: 48%;
                        max-width: 812px;
                        height: max-content;
                        position: sticky;
                        top: 185px;
                   }



                    .ProductDetailPage .ViewDetailsAndImages .ViewImages .CarImagesGallery {
                        margin-top: 20px;
                   }
                   .lSSlideOuter .lSPager.lSGallery img {
                    
                    width: 100%;
                }

                  
                .lSSlideOuter .lSPager.lSGallery li{
                    
                   opacity: 0.5;
                   transition: all .3s;
                   padding: 0;
                   filter: grayscale(100%);
                   box-sizing: border-box;
                }
                .lSSlideOuter .lSPager.lSGallery li.active{
                    transition: all .3s;
                    opacity:1;
                    border-radius: 0 !important;
                    border: 0px solid ;
                    padding: 2px;
                    filter: grayscale(0%);
                 }
                 .lSSlideOuter .lSPager.lSGallery li:hover{
                    transition: all .3s;
                    opacity:1;
                    border-radius: 0 !important;
                    border: 0px solid ;
                    padding: 2px;
                    filter: grayscale(0%);
                 }
.OtherDetails {
    width: 100%;
    margin-top: 50px;
}
.OtherDetails  .VehicleInformation{
                 width: 100%;
                 margin: 0 auto;
             }

             .OtherDetails   .VehicleInformation{
                 width: 100%;
                 margin-top: 15px;
                 padding: 20px 0px;
                 border-radius: 5px;
             }

             .OtherDetails     .VehicleInformation h2{
                    display: inline-block;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: normal;
                    vertical-align: middle;
                    text-align: left;
                    margin: auto;
                    padding-left: 20px;
             }
             .OtherDetails    .VehicleInformationDetails{
                 width: 100%;
                 margin-top: 18px;
             }
             .OtherDetails   .VehicleInformation  .VehicleInformationDetails   ul{
                width: 100%;
            }
            .OtherDetails    .VehicleInformation  .VehicleInformationDetails   ul li{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                font-size: 15px;
                line-height: 16px;
                padding: 8px 20px;
               
            }

          