
.ProductDetailPage{
    background-color: #f9f9f9;
}
.DetailsTitleBar {
    background: var(--G1);
    color: var(--Black);
}
.DetailsTitleBar .Model span {
    border-color: var(--White);
}
 .DetailsTitleBar .BrandAndModel .BackToBtn {
   
color: var(--G6);
}


 .PriceAndBook {
    
    color: var(--White);
}
         
 .PriceAndBook .ActualPriceArea .PriceDetails .Label {
    color: var(--G6);
 }
 .PriceAndBook .ActualPriceArea .Price {
    border-color: var(--G2) !important;
    color: var(--Black) !important;
}

.Price {}

.PriceAndBook .BtnsArea .BookBtn {

    background:var(--GRADIENT);
    color:var(--White);
    box-shadow: var(--MiniTransparentBlack) 1px 5px 10px;
  
   
}




.ProductDetailPage .DetailsTitleBar .AddToFavourBtn {
 
    color: var(--White);
    background-color: var(--MiniTransparentBlack);
}
.ProductDetailPage .DetailsTitleBar .AddToFavourBtn.Active {
 
    
    background-color: var(--RED);
}
.ProductDetailPage .DetailsTitleBar .AddToFavourBtn:hover {
 

    background-color: var(--RED);
}


.ProductDetailPage .ViewDetailsAndImages .ViewDetails h1{
    color: var(--G4);
}


.ViewDetails .PriceAndMileageWrap .PriceBlock, .ViewDetails .PriceAndMileageWrap .MileageBlock {
    background: var(--G1);
}
.ViewDetails .PriceAndMileageWrap .PriceBlock h3, .ViewDetails .PriceAndMileageWrap .MileageBlock h3 {
    color: var(--G6);
}
.ViewDetails .PriceAndMileageWrap .PriceBlock h5, .ViewDetails .PriceAndMileageWrap .MileageBlock h5 {
    color: var(--G4);
}
.ViewDetails .CarMainDetailsWrap .DetailBlock {
    background: var(--G1);
}
.ViewDetails .CarMainDetailsWrap .DetailBlock p {
    color: var(--G4);
}
.ViewDetails .CarMainDetailsWrap .DetailBlock h3{
    color: var(--G6);
}
.ViewDetails .GuaranteeBlock{
    background: rgba(53, 232, 41, 0.07);
    border: 1px solid rgba(53, 232, 41, 0.2);
}
.ViewDetails .GuaranteeBlock  .Icon {
    background: rgba(11, 167, 38, 0.055);
    color: var(--GREEN);
}

.ViewDetails .GuaranteeBlock  h3{
    color: var(--GREEN);
}

.ViewDetails .GuaranteeBlock  p {
   
    color: #68866d;
   
}


.ProductDetailPage .lSSlideOuter .lSPager.lSGallery li.active{
    border-color: var(--RED);
    
}
.VehicleInformation {
    background: var(--White);
}
 .VehicleInformation h2{
    color: var(--G6);
}


.VehicleInformationDetails ul li{
    color: var(--Black);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}


.VehicleInformation  .VehicleInformationDetails   ul li label{
    color: var(--G4);
}



.VehicleInformation  .VehicleInformationDetails   ul li.Active label{
    color: var(--GREEN);
                
}